body {
  background: #C0DEED;
  background-image: url(http://d20m4dvzhiuv61.cloudfront.net/assets/bg-body-3a1d6e7921cb2e11584ad84371a73188.jpg), no-repeat;
}

a {
  text-decoration: none;
}

#possible-friends {
    position: absolute;
    right: 50px;
    width: 300px;
    top: 50px;
    background: #F5F8FA;
    border-radius: 20px;
}

.possible-friend {
  margin: 20px 50px 20px 0;
}

img {
  border-radius: 50px;
}

#wall {
  margin: 0 auto 0 auto;
  text-align: center;
}

#home-nav form {
  display: inline;
}

#home-nav {
  text-align: center;
}
